<h1>RESET YOUR PASSWORD</h1>

<%=form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
       <% a = []%>
       <% form.object.errors.full_messages.each do |message|%>
         <% a << message%>
         <% if a.size > 1%>
           <div><%= "also your #{message}" %></div>
         <% else %>
           <div><%= message %></div>
         <% end %>
       <% end %>
    </div>
  <% end %>

  <div class="mb-3 col-4">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "my password" %>
  </div>
  <div class="mb-3 col-4">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "my password" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Reset Password", class: "btn btn-primary", disable_with: 'Submiting...' %>
  </div>
<% end %>